---
layout: default
---

<div class="menu wrapper mb-2">
  <h2 class="text-center text-red pb-3">What to Eat</h2>

  <h3 class="text-center pb-2 mb-2 text-red">Starters</h3>
  <div class="grid pb-3">
    <div class="column menu-column">
      <p><span>Casear Ceviche</span>A fresh shrimp ceviche that pays homage to the wonderful Canadian hangover cure. Served with chips.  9.99</p>
      <p><span>Tortilla Soup</span>Traditional Mexican soup loaded with chicken and topped with cilantro and tortilla strips.  8.99</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Black Bean Soup</span>Delicious and vegan. Topped with cilantro, avocado, and tortilla strips.  7.99</p>
      <ul class="simple-list">
        <li>Chips & Guacamole <span>8.99</span></li>
        <li>Chips & Bean Chorizo Dip <span>8.99</span></li>
        <li>Chips & Salsa <span>5.99</span></li>
        <li>Chips & Pico de Gallo <span>5.99</span></li>
        <li>Chips & Refried Beans <span>5.99</span></li>
      </ul>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <h3 class="text-center pb-2 mb-2 text-red">Tacos & Tortas</h3>
  <div class="grid pb-3">
    <div class="column menu-column">
      <h4 class="text-red">Fancy Tacos</h4>
      <p><span>Baja Fish</span>Grilled mahi-mahi topped with spicy slaw and fresh cilantro.  5.99</p>
      <p><span>Pork Belly</span>Fried pork belly confit topped with fresh slaw and queso fresco.  5.99</p>
      <p><span>Cauliflower</span>We like to have fun with this one. Ask about our current rendition.  5.49</p>

      <h4 class="pt-2 text-red">Street Tacos</h4>
      <p class="menu--description">Topped with cilantro and diced onion and served with fresh lime and house-made salsas.</p>
      <ul class="simple-list">
        <li class="mb-2">Beef | Chicken | Pork | Chorizo | Vegan Chorizo <span>4.99</span></li>
        <li>Refried Beans <span>3.99</span></li>
      </ul>
    </div> <!-- end column -->

    <div class="column menu-column">
      <h4 class="text-red">Tortas</h4>
      <p>A torta is a classic Mexican sandwich with your choice of meat, avocado, refried beans, adovada sauce, and fresh slaw on a homemade telera bun. Served with chips.</p>
      <ul class="simple-list">
        <li>Beef | Chicken | Pork | Vegan Chorizo <span>10.99</span></li>
      </ul>

      <h4 class="pt-2 text-red">Fancy Tortas</h4>
      <p><span>Pork Belly</span>With jicama, carrot, and raisin slaw.  12.99</p>
      <p><span>Chorizo</span>With fried egg and queso fresco.  12.99</p>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <h3 class="text-center pb-2 mb-2 text-red">All Day Brunch</h3>
  <div class="grid pb-3">
    <div class="column menu-column">
      <p><span>Huevos Rancheros</span>Two tortillas topped with refried beans, fried eggs, salsa verde, and avocado.  12.99</p>
      <p><span>Chorizo & Egg Scramble</span>For the spicy eggs lover. We can also make it with vegan chorizo.  9.99</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Avocado Toast</span>Two toasted slices of fresh sourdough topped with avocado and sea salt.  8.99</p>
      <p><span>Oatmeal</span>Cooked with cinnamon and coconut milk, sweetened with honey, and garnished with walnuts and seasonal fruit.  6.99</p>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <h3 class="text-center pb-2 mb-2 text-red">Dessert</h3>
  <div class="grid-3 pb-3">
    <div class="column menu-column">
      <p><span>Flan</span>Homemade vanilla custard in caramel sauce.  5.99</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Concha Donut</span>Our take on a traditional Mexican sweetbread.  3.99  (while supplies last)</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Churros</span>Deep fried dough bites sprinkled with cinammon sugar and served with a Mezcal candy apple dip.  5.99</p>
    </div> <!-- end column -->
  </div> <!-- end row -->

</div> <!-- end menu-->



<div class="social mb-3">
  <div class="wrapper">
    <div id="instafeed"></div>
    <h3>Follow us on <a href="https://www.instagram.com/mexicoinsarnia/" target="_blank" title="Mexico on Instagram">Instagram</a> and <a href="https://www.facebook.com/mexicoinsarnia/" target="_blank" title="Mexico on Facebook">Facebook</a></h3>
  </div>
</div>



<div class="menu wrapper mb-2">
  <h2 class="text-center text-red pb-3">What to Drink</h2>

  <h3 class="text-center pb-2 mb-2 text-red">Margaritas</h3>
  <div class="grid-3 pb-3">
    <div class="column menu-column">
      <p><span>Classic Margarita</span>Tequila, Triple Sec, Fresh Lime Juice, Agave Nectar  9.99</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Randy's Margarita</span>Aged Tequila, Fresh Lime Juice, Agave Nectar 10.99</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Mezcal Margarita</span>Mezcal, Triple Sec, Fresh Lime Juice, Agave Nectar  11.99</p>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <h3 class="text-center pb-2 mb-2 text-red">Other Cocktails</h3>
  <p class="menu--description text-center mb-3">Our cocktails are 10.99 and have 2oz. of booze.</p>
  <div class="grid-3 pb-3">
    <div class="column menu-column">
      <p><span>Mezcal Negroni</span>Mezcal, Campari, Sweet vermouth</p>
      <p><span>Negroni</span>Gin, Campari, Sweet vermouth</p>
      <p><span>Gimlet</span>Gin, Simple syrup, Fresh lime juice</p>
      <p><span>Manhattan</span>Rye, Sweet vermouth, Angostura bitters</p>
      <p><span>The Last Word</span>Gin, Green Chartreuse, Maraschino liqueur, Fresh lime juice</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Mexican Firing Squad</span>Tequila, Angostura bitters, Fresh lime juice, Grenadine, Soda</p>
      <p><span>Whiskey Sour</span>Bourbon, Simple syrup, Fresh lime juice, Egg white</p>
      <p><span>Boulevardier</span>Bourbon, Campari, Sweet vermouth</p>
      <p><span>Cuba Libre</span>Rum, Mexican Cola, Lime</p>
      <p><span>Dark & Stormy</span>Rum, Ginger beer, Fresh lime juice</p>
    </div> <!-- end column -->

    <div class="column menu-column">
      <p><span>Martini</span>Gin, Dry vermouth</p>
      <p><span>Old Fashioned</span>Bourbon, Simple syrup, Angostura bitters</p>
      <p><span>Moscow Mule</span>Vodka, Ginger beer, Fresh lime juice</p>
      <p><span>Cosmopolitan</span>Vodka, Triple sec, Cranberry juice, Fresh lime juice</p>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <h3 class="text-center pb-2 mb-2 text-red">Coffee</h3>
  <p class="menu--description text-center mb-3">We get our beans from <a href="https://www.pilotcoffeeroasters.com/">Pilot Coffee Roasters</a> in Toronto, ON</p>
  <div class="grid-3 pb-3">
    <div class="column menu-column">
      <ul class="simple-list">
        <li>Espresso <span>2.99</span></li>
        <li>Macchiato <span>3.29</span></li>
        <li>Cappuccino <span>3.49</span></li>
        <li>Cortado <span>3.29</span></li>
      </ul>
    </div> <!-- end column -->

    <div class="column menu-column">
      <ul class="simple-list">
        <li>Flat White <span>3.49</span></li>
        <li>Americano <span>3.29</span></li>
        <li>Misto <span>3.49</span></li>
        <li>Latte <span>3.99</span></li>
      </ul>
    </div> <!-- end column -->

    <div class="column menu-column">
      <ul class="simple-list">
        <li>Iced Latte <span>3.99</span></li>
        <li>Mocha <span>4.29</span></li>
        <li>Cold Brew <span>3.99</span></li>
        <li>Brew Coffee <span>1.99</span></li>
      </ul>
    </div> <!-- end column -->
  </div> <!-- end row -->

  <p class="text-center">We also have plenty of beer, wine, kombucha, tea, and Mexican pop. Don't worry, your thirst will be quenched.</p>

</div> <!-- end menu-->


<div class="about">
  <div class="wrapper">
    <div class="grid">
      <div class="column hours">
        <h2>The Hours</h2>
        <h3>Mon-Wed</h3>
        <p>11:30am-9pm</p>
        <h3>Thu-Sat</h3>
        <p>11:30am-11pm</p>
        <h3>Sun</h3>
        <p>Closed</p>
      </div>
      <div class="column column-about">
        <p>We’re a group of friends fortunate enough to have travelled and encountered a broad range of cultures and cuisine. We always love coming home, but sharing stories isn't the same as sharing experiences.</p>
        <p>Mexico is our attempt to do that.</p>
        <p>From the friendliness and hospitality to the exquisite coffee, cocktails, and tacos, Mexico is a country that lives with you. It’s a place where you get lost in flavours, laughter, and late night conversations.</p>
        <p class="no-mb">Our hope is that we can carve out a little bit of that experience right here in Sarnia, with our families, friends, and friends to be.</p>
      </div>
    </div>
  </div>
</div>

<img src="{{site.baseurl}}/assets/the-sign.jpg">