---
layout: default
---

<div class="menu wrapper">

  <div class="grid">

    <div class="column">
      <h2>Tacos</h2>
      <p class="menu--description">Served from 11am until close. All of our tacos are topped with cilantro and onions and all of our meats and beans are prepared in-house with a lot of love and spices.</p>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Beef</th>
            <td>4.00</td>
          </tr>
          <tr>
            <th>Chicken</th>
            <td>4.00</td>
          </tr>
          <tr>
            <th>Pork</th>
            <td>3.00</td>
          </tr>
          <tr>
            <th>Chorizo</th>
            <td>3.00</td>
          </tr>
          <tr>
            <th>Vegan Chorizo</th>
            <td>3.00</td>
          </tr>
          <tr class="pb-2">
            <th>Refried Beans</th>
            <td>3.00</td>
          </tr>
          <tr class="pb-2">
            <th>One of each</th>
            <td>15.00</td>
          </tr>
          <tr>
            <th class="text-small">Add a side of refried beans</th>
            <td class="text-small">3.00</td>
          </tr>
        </tbody>
      </table>

      <h2>Brunch</h2>
      <p class="menu--description">Served until noon on weekdays and 3pm on weekends.</p>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Oatmeal<br><p>Creamy oatmeal cooked with cinnamon and coconut milk, sweetened with honey, and garnished with walnuts and blueberries.</p></th>
            <td>8.00</td>
          </tr>
          <tr>
            <th>Oatmeal Jr.</th>
            <td>5.00</td>
          </tr>
          <tr>
            <th>Avocado Toast<br><p>Two slices of toasted fresh sourdough with avocado and sea salt.</p></th>
            <td>8.00</td>
          </tr>
          <tr>
            <th>Avocado Toast w/ Fried Egg</th>
            <td>10.00</td>
          </tr>
          <tr>
            <th>Chorizo & Egg Scramble<br><p>We can also make it with vegan chorizo.</p></th>
            <td>10.00</td>
          </tr>
          <tr>
            <th>Huevos Rancheros<br><p>Two tortillas topped with refried beans, fried eggs, salsa verde, and avocado.</p></th>
            <td>12.00</td>
          </tr>
        </tbody>
      </table>

      <h2>Pop</h2>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Jarritos<br><p>We’ve got a variety of flavours.</p></th>
            <td>3.50</td>
          </tr>
        </tbody>
      </table>

      <h2>Beer</h2>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Kissmeyer<br><p>Nordic Pale Ale from <a href="https://beaus.ca/beer/kissmeyer-nordic-pale-ale/" target="_blank" title="More info">Beau’s</a></p></th>
            <td>7.00</td>
          </tr>
          <tr>
            <th>Duplicitous<br><p>Dry-Hopped Gose from <a href="https://nickelbrook.com/our-beers/funk-lab/duplicitous/" target="_blank" title="More info">Nickel Brook</a></p></th>
            <td>7.00</td>
          </tr>
          <tr>
            <th>Corona</th>
            <td>5.00</td>
          </tr>
        </tbody>
      </table>

    </div><!-- end column -->

    <div class="column">

      <h2>Coffee</h2>
      <p class="menu--description">Our coffee beans come from <a href="https://www.pilotcoffeeroasters.com/" target="_blank" title="More info">Pilot Coffee Roasters</a> in Toronto.</p>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Espresso</th>
            <td>3.00</td>
          </tr>
          <tr>
            <th>Macchiato</th>
            <td>3.25</td>
          </tr>
          <tr>
            <th>Cappuccino</th>
            <td>3.50</td>
          </tr>
          <tr>
            <th>Cortado</th>
            <td>3.00</td>
          </tr>
          <tr>
            <th>Flat White</th>
            <td>3.50</td>
          </tr>
          <tr>
            <th>Americano</th>
            <td>3.25</td>
          </tr>
          <tr>
            <th>Misto</th>
            <td>3.50</td>
          </tr>
          <tr>
            <th>Latte</th>
            <td>4.00</td>
          </tr>
          <tr class="pb-2">
            <th>Mocha</th>
            <td>4.25</td>
          </tr>
          <tr>
            <th>Cold Brew</th>
            <td>4.00</td>
          </tr>
          <tr>
            <th>Brew Coffee</th>
            <td>2.00<br><p>(50¢ refills)</p></td>
          </tr>
        </tbody>
      </table>

      <h2>Cocktails</h2>
      <p class="menu--description">All of our cocktails are $10.00 and have 2oz. of booze in them.</p>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>Margarita<br><p>Tequila, Triple Sec, Fresh Lime Juice, Agave Nectar</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Randy's Margarita<br><p>Aged Tequila, Fresh Lime Juice, Agave Nectar</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Gin & Tonic</th>
            <td></td>
          </tr>
          <tr>
            <th>Negroni<br><p>Gin, Campari, Sweet Vermouth</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Martini<br><p>Gin, Dry Vermouth</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Dark & Stormy<br><p>Rum, Ginger Syrup, Fresh Lime Juice, Soda</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Cuba Libre<br><p>Rum, Coke</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Cosmopolitan<br><p>Vodka, Triple Sec, Cranberry Juice, Fresh Lime Juice</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Manhattan<br><p>Rye, Sweet Vermouth, Angostura Bitters</p></th>
            <td></td>
          </tr>
          <tr>
            <th>Old Fashioned<br><p>Bourbon, Simple Syrup, Angostura Bitters</p></th>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h2>Wine</h2>
      <p class="menu--description">$6—6oz. / $8—9oz.</p>
      <table class="menu--items">
        <tbody>
          <tr>
            <th>House Red<br><p>A full-bodied and smooth Tempranillo from Radio Boka in Spain</p></th>
            <td></td>
          </tr>
          <tr>
            <th>House White<br><p>A light and crisp Chardonnay and Pinot Grigio blend from Long Weekend Wine Co. in Ontario</p></th>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div><!-- end column -->

  </div> <!-- end grid -->
</div> <!-- end wrapper -->

<div class="social">
  <div class="wrapper">
    <div id="instafeed"></div>
    <h3>Follow us on <a href="https://www.instagram.com/mexicoinsarnia/" target="_blank" title="Mexico on Instagram">Instagram</a> and <a href="https://www.facebook.com/mexicoinsarnia/" target="_blank" title="Mexico on Facebook">Facebook</a></h3>
  </div>
</div>

<div class="hours wrapper">

  <div class="grid mb-2">
    <div class="column mb-2">
      <h2>Open Hours</h2>
      <h3>Mon-Wed</h3>
      <p>10am-8pm</p>
      <h3>Thu-Fri</h3>
      <p>10am-11pm</p>
      <h3>Sat</h3>
      <p>8am-11pm</p>
      <h3>Sun</h3>
      <p>8am-8pm</p>
    </div>
    <div class="column">
      <h2>Daily Specials</h2>
      <h3>Monday</h3>
      <p>Four beef tacos for $12</p>
      <h3>Tuesday</h3>
      <p>Four beef tacos for $12</p>
      <h3>Wednesday</h3>
      <p>Four pork tacos for $9</p>
      <h3>Thursday</h3>
      <p>Half price bottles of wine<br>9oz house wine for the 6oz price</p>
      <h3>Friday</h3>
      <p>$7 Margaritas</p>
      <h3>Saturday</h3>
      <p>Four Coronas for $15</p>
      <h3>Sunday</h3>
      <p class="no-mb">Free brew coffee with brunch <br>Four chorizo tacos for $9</p>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="grid">
      <div class="column">
        <h1>Por Qué?</h1>
      </div>
      <div class="column">
        <p>We’re a group of friends fortunate enough to have travelled and encountered a broad range of cultures and cuisine. We always love coming home, but sharing stories isn't the same as sharing experiences.</p>
        <p>Mexico is our attempt to do that.</p>
        <p>From the friendliness and hospitality to the exquisite coffee, cocktails, and tacos, Mexico is a country that lives with you. It’s a place where you get lost in flavours, laughter, and late night conversations.</p>
        <p class="no-mb">Our hope is that we can carve out a little bit of that experience right here in Sarnia, with our families, friends, and friends to be.</p>
      </div>
    </div>
  </div>
</div>